
    <nav>
      <ul class="nav">
      <li class="navlink"><a routerLink="/auth/login">Iniciar Sesión</a></li>
      <li class="navlink"><a routerLink="/auth/register">Crear cuenta</a></li>
      <li class="navlink"><a routerLink="/auth/hablameloComentameloConversameloComunicameloDialogameloManifestameloCharlameloAclarameloDecimeloHacemeloSaberTodoBienTodoBelloTodoVacanoTodoTitinoTodoEleganteSisaPaLaqueSeaXd">Recuperar contraseña</a></li>
      <li class="navlink"><a routerLink="/user">Dashboard</a></li>
      </ul>
    </nav>
    <router-outlet></router-outlet>



